*{
    margin: 0;
    padding: 0;
}
#flex-box-demo{
    background-color: rgb(157, 52, 255);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 1000px;
    width: 1200px;
    margin: auto;
}
.flex-box{
    background-color: rgb(255, 147, 70);
    width: 100px;
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;

}