/*======================== SLIDE ========================*/
.slideshow-container{
    position: relative;
    height: auto;
}

.mySlides {
    display: flex;
}

.mySlides img{
    margin: 10px;
    width: 95%;
    max-height: 60%;    
    border-radius: 10px;
    vertical-align: middle;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
}


@media screen and (max-width: 1166px) {
.mySlides > a:last-child{
    display: none;
}
}